h1{
    width: 128px;
    height: 38px;
    background-image: url('/img/d’Perfume.png');
    background-repeat: no-repeat;
    text-indent: 101%;
    overflow: hidden;
}

.headerList{
    a{
        display:flex;
        align-items: center;
        margin-right: 32px;
        color:$secondary;
    }
    img{
        width: 20px;
        height: 16px;
        margin-right: 4px;
    }
}