.subscribe{
    background-image: url(/img/smallSubscrible.png);
    background-size: cover;
    background-repeat: no-repeat;
   
   @include ipad{
       background-image: url(/img/mobileSubscribe.png);
   }

    &Txt{
        padding-top: 312px;
        padding-bottom: 112px;

        p{
            margin-bottom: 20px;
        }
    }

    .subscribeInput{
        padding:21px 0 20px 16px;
        border: 2px solid $primary;
        ;
    }
}