body{
    font-family: SF Pro Text;
}

img{
    max-width: 100%;
    height: auto;
}

a:hover{
    text-decoration:none;
}

ul{
    margin-bottom: 0;
}

li{
    list-style:none;
}



.font-size-20{
    font-size:20px;
}

.line-height-2{
    line-height: 2rem;
}